/* Hero section */
.hero{
    //position: fixed;
    //top: 70px;
    height: 100%;
    width: 100%;
    background: url(/img/background.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    @include mobile{
        background-position: left center;
    }
    @include tablet{
        background-position: left center;
    }
    
    .hero-content{
        padding-top: 200px;
        @include mobile{
            padding: 100px 16px;

        }
        @include tablet{
            padding-top: 100px;
        }
    }
    .text-one{
        font-size: 64px;
        font-family: $primary-font;
        color: var(--color_text);
        letter-spacing: 0.03em;
        @include mobile{
            font-size: 40px;
        }
        @include tablet{
            font-size: 64px;
        }
    }
    .text-two{
        font-size: 64px;
        font-family: $primary-font;
        color: var(--color_text);
        letter-spacing: 0.03em;
        @include mobile{
            font-size: 40px;
        }
        @include tablet{
            font-size: 64px;
        }
    }
    .text-three{
        font-size: 48px;
        font-family: $secundary-font; 
        color: var(--color_text);
        margin-top: 20px;
        @include mobile{
            font-size: 36px;
        }
        @include tablet{
            font-size: 48px;
        }
    }
    .btn-cv{
        margin-top: 20px;
    }
    
    /* BOTON ANIMADO */
    .btnanimation{
        font-weight: 600;
        position: relative;
        display: flex;
        align-items: center;
        color: var(--color_text);
        background: none;
        border: none;
        padding: 12px 18px;
        cursor: pointer;
    }

    .btnanimation::before{
        content: "";
        position: absolute;
        top: 50%;
        z-index: -1;
        translate: calc(200% + 4px) -50%;
        width: 45px;
        height: 45px;
        background: var(--color_primary);
        border-radius: 50px;
        transition: translate 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2),
        width 0.25s cubic-bezier(0, 0, 0.5, 2);
    }

    .btnanimation:hover::before{
        color: var(--color_primary);
        width: 100%;
        translate: -18px -50%;
        transition: translate 0.25s cubic-bezier(0, 0, 0.5, 2),
        width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
    }

    .btnanimation i{
        margin-left: 5px;
        transition: translate 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
    }

    .btnanimation:hover i{
       translate: 3px 0;
    }
    /* FIN DE BOTON ANIMADO */

    .centrar-contenido{
        @include mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include tablet{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .hero-img{
        animation: movimiento 3s normal infinite;
        padding-bottom: 50px;
    }

    @keyframes movimiento {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translate(-4px, 4px);
        }
        40% {
            transform: translate(-4px, -4px);
        }
        60% {
            transform: translate(4px, 4px);
        }
        80% {
            transform: translate(4px, -4px);
        }
        100% {
            transform: translate(0);
        }
    }
}


