.portfolio{
    width: 100%;
    background: url(/img/background_portfolio.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    @include mobile{
        background-size: auto;
        background-position: right bottom;
        height: auto;
    }
    @include tablet{
        background-size: auto;
        background-position: right bottom;
        height: auto;
    }

    .portfolio-content{
        padding-top: 100px;
        padding-bottom: 100px;
        @include mobile{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include tablet{
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .title-portfolio{
        font-size: 40px;
        font-family: $primary-font;
        color: var(--color_text);
        @include mobile{
            font-size: 30px;
        }
    }

    .divider{
        border: 1px solid;
        border-color: var(--color_text);
    }

    .card{
        width: 22rem;
        z-index: 0;
        padding: 25px;
        background-color: #fafafa10;
        backdrop-filter: blur(0.4rem);
        --webkit-backdrop-filter: blur(0.4rem)
        border: 1px solid rgba(254, 189, 47, 0.1);
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        
    }

    .cards-style{
        padding-top: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
            padding-top: 30px;
        }
    }

    .card-title{
        font-family: $primary-font;
        color: var(--color_text);
        font-size: 24px;
        margin-bottom: 20px;
        @include mobile{
            font-size: 26px;
        }
    }

    .card-text{
        font-size: 16px;
        font-family: $secundary-font;
        color: var(--color_text);
        margin-bottom: 20px;
        @include mobile{
            font-size: 18px;
        }
    }

    //BUTTON ANIMATION
    .btn-card{
        font-weight: 600;
        position: relative;
        display: flex;
        align-items: center;
        color: var(--color_text);
        background: none;
        border: none;
        padding: 18px 30px 18px 0px;
        cursor: pointer;
    }
    .btn-card::before{
        content: "";
        position: absolute;
        top: 50%;
        z-index: -1;
        translate: calc(200% + 4px) -50%;
        width: 45px;
        height: 45px;
        background: var(--color_primary);
        border-radius: 50px;
        transition: translate 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2),
        width 0.25s cubic-bezier(0, 0, 0.5, 2);
    }
    .btn-card:hover::before{
        color: var(--color_primary);
        width: 100%;
        translate: -18px -50%;
        transition: translate 0.25s cubic-bezier(0, 0, 0.5, 2),
        width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
    }
    .btn-card i{
        margin-left: 5px;
        transition: translate 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
    }

    .btn-card:hover i{
       translate: 3px 0;
    }
    //BUTTON ANIMATION

    .card-tool{
        color: var(--color_text);
    }
    .card-links{
        display: flex;
        //justify-content: space-between;
        padding: 0;
        gap: 10px;
    }
    .card-links li img{
        width: 20px;
        height: 20px;
    }

    /* DESING MODAL */
    .modal-body{
        padding: 50px;
    }

    .imgportfolio{
        width: 100%;
    }

    .modal-description{
        margin-top: 50px;
    }

    .modal-header{
        padding-left:50px ;
    }

    .modal-subtitle{
        margin-top: 30px;
        font-family: $primary-font;
        font-size: 1.25rem;
    }
    .modal-description{
        margin-top: 30px;
    }
    .modal-links{
        color: $primary-color;
    }
    .modal-links:hover{
        color: #dd9a08;
    }

    .modal-footer{
        padding-right: 50px;
    }

    .modal-title{
        font-family: $primary-font;
    }

    .modal-content{
        background-color: var(--color_background);
        color: var(--color_text);
    }
    
    .btn-close{
        background-color: var(--color_primary);
    }

    .btn-modal{
        background-color: var(--color_primary);
        //color: var(--color_text);
    }

    .btn-modal:hover{
        background-color: #f0a912;
        //color: var(--color_text);
    }
    /* DESING MODAL */

}